*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
    background-color: wheat;
}


.container{
    max-width: 1080px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.grid{
    width: 800px;
    min-height: 700px;
    border: 1px dashed black;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.cell{
    width: calc(100% / 10);
    height: 90px;
    border: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-head{
    background-color: white;
    min-height: 80px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
img{
    height: 100%;
    width: 50px;
    align-self: center;
}
#wantPlay{
    height: 40px;
    padding: 10px;
    align-self: center;
}